.cell {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;

  &__content {
    height: 100%;

    &__events {
      display: flex;
      flex-direction: column;
    }
  }

  &__isNotCurrentMonth {
    background-color: white;
  }

  &__isCurrent {
    background-color: aqua;
  }

  &__isActive {
    scale: 110%;
    background-color: yellow;
  }

  &:hover {
    scale: 110%;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--grey {
      color: grey;
    }
  }
}