.eventForm {
  padding: 10px;
  width: 500px;
  background-color: white;
  position: absolute;
  z-index: 1;
  border: 1px solid black;

  &__titleInput {
    width: 100%;
    margin-bottom: 10px;
  }

  &__descriptionInput {
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
  }

  &__dateInputs {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 100%;
    }
  }

  &__saveButton {
    margin-right: 10px;
  }
}
